<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="${ description }">
    <meta name="keywords" content="${ keywords }">
    <meta name="author" content="${ author }">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <link rel="icon" href="/assets/favicon.ico">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <style>
        html,
        body,
        #root,
        #root>div {
            height: 100%;
            padding: 0;
            margin: 0;
        }
        
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
    </style>
    <title>${ title }</title>
</head>

<body>
    <div id="root"></div>
    <script>
        window.podcast = "${ escape(podcast) }";
        window.episodes = "${ escape(episodes) }";
    </script>
    <script src="/dist/public.bundle.js"></script>
    <script>

            window.intercomSettings = {
              app_id: "be9o10g3"
            };
          </script>
          <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/be9o10g3';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
</body>

</html>